

<h1>考試網練習</h1>

  <p-card header="請填寫票券資料" styleClass="ngx-color">
    <p-card [formGroup]="form">
      <form class="p-fluid">
        <div class="p-field">
          <label for="nameId" class="p-col-fixed" style="width:100px">姓名</label><br>
          <input id="nameId" type="text" pInputText formControlName="name1" class="p-col-fixed" style="width:100px"/>
        </div>


      </form>
  <p>性別</p>
  <input type="radio" id="r1" name="rr" value="1" />
  <label for="r1" ><span></span>男</label>

  <input type="radio" id="r2" name="rr" value="0" />
  <label for="r2"><span></span>女</label>

  <p>地區（member資料）</p>
  <p-dropdown [options]="cityArr" [(ngModel)]="cityArr" placeholder="Select a City" optionLabel="cityName"
    [showClear]="true"></p-dropdown>

  <p>地區 （location資料）</p>
  <p-autoComplete [(ngModel)]="locationName" [suggestions]="locationArrNew" (completeMethod)="search($event)"
  field="location" [minLength]="1"></p-autoComplete><br>

  <button (click)="showResult()" class="search">
    Search
  </button>

  <!-- <mat-form-field>
    <mat-select formControlName="cityName" placeholder="城市名稱">
      <mat-option *ngFor="let item of cityArr; let index = index" [value]="item.cityName" [disabled]="index === 1">{{ item.cityName }}</mat-option>
    </mat-select>
  </mat-form-field> -->


    </p-card>

    <p-table [value]="cityArr" dataKey="cityArr">
      <ng-template pTemplate="header" >
        <!-- <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
      </span> -->
          <tr>
              <th>ID</th>
              <th>姓名</th>
              <th>性別</th>
              <th>地區</th>
              <th>建檔時間</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item class="allData">
          <tr>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td *ngIf="item.gender==0" >女</td>
              <td *ngIf="item.gender==1" >男</td>
              <td>{{item.cityName}}</td>
              <td>{{item.date}}</td>
          </tr>
      </ng-template>
  </p-table>


    <div>
      <p>當前時間: {{ today | date: "yyyy/MM/dd HH:mm:ss" }}</p>
    </div>
