input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #272525;
  font-family: Arial, sans-serif;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px
    top no-repeat;
  cursor: pointer;
  margin: 10px;
}

input[type="radio"]:checked + label span {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px
    top no-repeat;
}

.information {
  background-color: #122e2e;
}

// .search {
//   position: relative;
//   width: 80%;
//   float: left;
// }

// .search-btn{
//   width: 36px;
//   height: 32px;
//   background-color: #3D1101;
//   color:#efe9e7;
//   outline:none;
//   border: 2px solid #3D1101;
//   cursor: pointer;
//   position: absolute;
//   top: 0;
//   right: 0;
//  }

// .menu {
//   height: 100vh;
//   width: 300px;
//   background-color: #122e2e;
//   float: left;
// }

// .content {
//   width: 100vw;
//   height: 100vh;
//   background-color: white;
//   float:right;
// }
