<!-- <p>guhim-angular works!</p>

<div *ngIf="">變數值是true </div>

<p *ngFor="let product of products">
  {{product}}
</p> -->

 <!-- <app-guhim-angular></app-guhim-angular> -->

<div [attr.data-title]="'這是一個範例'"[title]="person.name + '的身高是'+ person.height">Guhim Angular1 {{person.name}}</div> 

 <app-guhim-angular []=""]></app-guhim-angular>
