.delete {
color: white;
background: rgb(211, 67, 67);
 }

button {
  color: white;
  background: rgb(42, 88, 42);
  flex-direction: row;
  margin-left: 10px;
  padding-left: 10px;

}

.ngx-color{
 background: pink
 }

 .allData {
   flex-direction: row;
 }

 .p-field {
  display: flex;
  justify-content: space-around;
  flex-direction: center; }

  

 ul {
   display: flex;
   justify-content: left;
   flex-direction: column;
 }
