<h1>【動態表單-票券出售】</h1>

<!-- <p-card class="dropdown">
  <h2>搜尋下拉式選單</h2>
  <div id="myDropdown" class="dropdownConcert">
    <input
      type="text"
      placeholder="請輸入票券名稱..."
      id="myInput"
      onkeyup="filterData()"
    />
    <ul *ngFor="let i of artArr" class="ticketName"></ul>
  </div>
  <button onclick="filterConcert()" class="dropdownConcert">
    搜尋票券名稱
  </button>
</p-card> -->



<p-card>
  <h1>清單列表</h1>
  <!-- <button (click)="getAllData()">取得所有資料</button> -->
  <p-card styleClass="ngx-color">
    <ul *ngFor="let i of artArr" class="allData">
      ID:{{
        i.id
      }}
      Name:{{
        i.formName
      }}
      Ticket:
      {{
        i.artName
      }}
      Quantity:
      {{
        i.ticketQuant
      }}
      Price:
      {{
        i.ticketPrice
      }}

      <button type="button" class="delete" (click)="deleteCard(i.id)">
        刪除
      </button>
      <button
        type="button"
        class="edit"
        (click)="
          showUpdateData(
            i.id,
            i.formName,
            i.artName,
            i.ticketQuant,
            i.ticketPrice
          )
        "
      >
        修改資料
      </button>
    </ul>
  </p-card>

</p-card>
<!-- filter -->
<p-card>
  <h2>搜尋下拉式選單</h2>
  <p-autoComplete [(ngModel)]="concertName" [suggestions]="concertArr" (completeMethod)="search($event)"
  field="artName" [minLength]="1"></p-autoComplete>
  <button (click)="showResult()" class="search">
    搜尋票券名稱
  </button>
</p-card>


<p-card header="請填寫票券資料" styleClass="ngx-color">
  <form [formGroup]="form">
    <div class="p-fluid">
      <div class="p-field">
        <label for="idId">ID</label>
        <input id="idId" type="text" pInputText formControlName="id" />
      </div>
      <div class="p-field">
        <label for="sellerId">Name</label>
        <input
          id="sellerId"
          type="text"
          pInputText
          formControlName="formName"
        />
      </div>

      <div class="p-field">
        <label for="artId">Ticket</label>
        <input id="artId" type="text" pInputText formControlName="artName" />
      </div>
      <div class="p-field">
        <label for="quantId">Quantity</label>
        <input
          id="quantId"
          type="number"
          pInputText
          formControlName="ticketQuant"
        />
      </div>
      <div class="p-field">
        <label for="priceId">Price</label>
        <input
          id="priceId"
          type="number"
          pInputText
          formControlName="ticketPrice"
        />
      </div>
      <!-- #取名稱 不需在ts令命名變數-->

      <!-- <div>樣本引用變數：{{ input.value }}</div>
      <input
        #input
        type="text"
        [(ngModel)]="artArr"
        (keyup.enter)="myEnter2(input)"
      />

      <app-main-child
        (updateName)="updateName($event)"
        [formName]="formName.name"
      >
      </app-main-child> -->

      <div>
        <button type="button" (click)="getFormValue()">Send</button>

        <button type="button" (click)="resetForm()">Clear</button>

        <button type="button" (click)="insertData()">+ 新增資料</button>

        <button type="button" (click)="submitData()">更新資料</button>

        <!-- <p-menubar [model]="artArr">
          <input type = "text" pInputText placeholder="Search">
          <button pButton label="Search" icon="fa -fa-sign-out"></button>
        </p-menubar> -->

        <!-- <button (click)=""></button> -->

        <!-- <button (click)="getAllData()">取得所有資料</button>
        <div formArrayName="aliases">
          <div></div>
          <h3>備註</h3>
          <div class="p-field">
            <label for="priceId">Price</label>
            <input
              id="priceId" type="number" pInputText formControlName="ticketPrice"
            />
          </div> -->
        <!-- <button (click)="addAlias()">新增備註</button>
          <div *ngFor="let alias of aliases.controls; let i = index">
            <label>
              備註：
              <input id="noteId" type="text" [formControlName]="i" />
            </label>
          </div> -->
      </div>
      <!-- <ul>
          <li *ngFor="let i of artArr | slice: 1:2">
            {{
              "Seller:：" +
                i.formName +
                ", Ticket:" +
                i.artName +
                ", Quantity:" +
                i.ticketQuant +
                ", Price:" +
                i.ticketPrice
            }}
          </li>
        </ul> -->
    </div>
    <!-- </div> -->
  </form>
</p-card>

<router-outlet></router-outlet>
