<div class="layout-topbar"></div>
<!-- <p>Guhim的身高是{{ person.height }}</p> -->

<p-card header="水管示範" styleClass="layout-line">
  <!-- Pipe時間水管示範 -->
  <ul>
    <li *ngFor="let i of hero | slice: 1:3">
      {{ "hero名稱：" + i.name + ", hero身高：" + i.height + ", hero的生日：" }}
      {{ i.birthday | date: "yyyy-MM-dd HH:mm" }}
    </li>
  </ul>

  <div>
    <p>當前時間: {{ today | date: "yyyy/MM/dd HH:mm:ss" }}</p>
  </div>

  <!-- Pipe數字水管示範 四捨五入進位 -->
  <!-- output '2.718' -->
  <p>e (no formatting) -2.718: {{ -2.718 | number }}</p>
  <!-- number: "小數點3位.至少1-最多5" -->
  <p>e (1.0-0) -2.718：{{ -2.718 | number: "1.0-0" }}</p>
  <p>e (3.1-5) -2.718999999: {{ -2.718999999 | number: "3.1-5" }}</p>
  <p>e (3.1-5) -2.71844444: {{ -2.7184444444 | number: "3.1-5" }}</p>
</p-card>

<p-card header="ngStyle用法" styleClass="layout-line">
  <div>
    <h2 [ngStyle]="{ color: '#ccc', 'background-color': 'black' }">
      示範[ngStyle]用法
    </h2>
    <h3 [style.color]="'pink'" [style.backgroundColor]="'black'">
      示範同ngSyle用法
    </h3>
  </div>

  <div>
    <h2 [ngClass]="currentClasses">ngClass示範用法</h2>
    <h3
      [class.ngclass-example]="currentClasses['ngclass-example']"
      [class.ngclass-example2]="currentClasses['ngclass-example2']"
    >
      示範同ngClass用法
    </h3>
  </div>

  <!-- 結構型指令 -->
  <div [ngSwitch]="name">
    <ng-container *ngSwitchCase="'卡納赫拉'">input</ng-container>
    <ng-container *ngSwitchCase="'P助'">output</ng-container>
    <ng-container *ngSwitchDefault>default</ng-container>
  </div>
  <!-- currency -->

  [attr.data-title]="'這是一個範例'" [title]="person.name + '的身高是'+
  person.height"> {{ name }}的身高 {{ person.height }}

  <!-- #取名稱 不需在ts令命名變數-->
  <div>樣本引用變數：{{ input.value }}</div>
  <input
    #input
    type="text"
    [(ngModel)]="name"
    (keyup.enter)="myEnter2(input)"
  />

  <app-main-child (updateName)="updateName($event)" [parentName]="person.name">
  </app-main-child>
</p-card>

<!-- 建立formGroup -->
<p-card header="動態表單練習" styleClass="layout">
  <form [formGroup]="form">
    <div class="p-fluid">
      <div class="p-field">
        <label for="fieldId">Name:</label>
        <input id="fieldId" type="text" pInputText formControlName="formName" />
      </div>

      <div class="p-field">
        <label for="fieldId">First Name:</label>
        <input
          id="fieldId"
          type="text"
          pInputText
          formControlName="firstName"
        />
      </div>
      <div class="p-field">
        <label for="fieldId">Second Name: </label>
        <input
          id="fieldId"
          type="text"
          pInputText
          formControlName="secondName"
        />
      </div>
    </div>

    <div formArrayName="nameArr" class="p-fluid">
      <div
        *ngFor="let item of nameArr.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="p-field">
          <label for="childName">Child Name</label>
          <input
            id="childName"
            type="text"
            pInputText
            formControlName="childName"
          />
        </div>
        <div class="p-field">
          <label for="secondChildName">Second Child Name</label>
          <input
            id="secondChildName"
            type="text"
            pInputText
            formControlName="secondChildName"
          />
        </div>
      </div>
    </div>

    <div>
      <button (click)="getFormValue()">取得動態表單的控制元件值</button> <br />
      <button (click)="updateControlValue()">更新動態表單的控制元件值</button>
      <br />
      <button (click)="resetForm()">重設表單</button>
    </div>
  </form>
  <div [title]="'這是一個屬性繫結'">這是一個屬性繫結</div>
  <div title="這是一個屬性繫結'">這是一個屬性繫結</div>
</p-card>

<p-card header="動態表單驗證" styleClass="layout-line">
  <form [formGroup]="invalidForm">
  <div class="p-fluid">
    <div class="p-field-check">
      <label for="username3">Username</label>
      <input
        id="username3"
        type="username"
        aria-describedby="username3-help"
        formControlName="myUserName"
        pInputText
      />
      <small *ngIf="
      !invalidForm.controls.myUserName.pristine &&
      invalidForm.controls.myUserName.hasError('required')"
      id="username3-help" class="p-error">Username is not available.</small>
    </div>
    <div class="p-field-check">
      <label for="myNum">Number</label>
      <input
        id="myNum"
        type="number"
        aria-describedby="myNum-help"
        formControlName="myNum"
        pInputText
      />
      <small *ngIf="
      !invalidForm.controls.myNum.pristine &&
      invalidForm.controls.myNum.hasError('required')"
      id="myNum-help" class="p-error">Number is not available.</small>
    </div>

    <div class="p-field-check">
      <label for="myPsw">Password</label>
      <input
        id="myPsw"
        type="password"
        aria-describedby="myPsw-help"
        formControlName="myPsw"
        pInputText
      />
      <small *ngIf="
      !invalidForm.controls.myPsw.pristine &&
      invalidForm.controls.myPsw.hasError('pattern')"
      id="myPsw-help"
      class="p-error">
      Password is not available.</small>
    </div>

  </div>
</form>

<button pButton
label="驗證表單"
type="button"
(click)="checkForm()">
</button>

</p-card>

<!-- <app-main-child [parentName]="person.name"></app-main-child> -->

<router-outlet></router-outlet>
