<div class="login-body">
  <div class="login-wrapper">
    <div class="login-panel">
      <div class="login-avatar"></div>

      <div>
        <form [formGroup]="invalidForm">
          <div class="p-fluid">
            <div class="p-field-check">
              <label for="username3" class="p-col-fixed" style="width:100px">Username</label><br>
              <input
                id="username3"
                type="username"
                aria-describedby="username3-help"
                formControlName="myUserName"
                placeholder="請輸入姓名"
                pInputText
              />
              <small
                *ngIf="
                !invalidForm.controls.myUserName.pristine &&
                invalidForm.controls.myUserName.hasError('required')"
                id="username3-help"
                class="p-error"
                >Username is not available.</small
              >
            </div>
            <!-- Email login -->
            <div class="p-field-check">
              <label for="myEmail" class="p-col-fixed" style="width:100px">Email</label><br>
              <input
                id="myEmail"
                type="email"
                aria-describedby="myEmail-help"
                formControlName="myEmail"
                placeholder="請輸入電子信箱"
                pInputText
              />
              <small
                *ngIf="
                !invalidForm.controls.myEmail.pristine &&
                invalidForm.controls.myEmail.hasError('required')"
                id="myEmail-help"
                class="p-error"
              >Email is not available.</small>
              <small
                *ngIf="
                !invalidForm.controls.myEmail.pristine &&
                invalidForm.controls.myEmail.hasError('pattern')"
                id="myEmail-help"
                class="p-error"
              >
              Email is not available.</small>

            </div>
          </div>
        </form>

        <!-- <button class="login-btn" routerLink="/main-child">login</button> -->
        <button
          pButton
          label="Login"
          type="button"
          class="login-btn"
          routerLink="/persons"
          (click)="checkForm()"
        >
        <!-- Login -->
        </button>
      </div>
      <div class="login-form">
        <h2>登入驗證</h2>
      </div>
      <p>若有任何問題，請聯絡Guhim！</p>
    </div>
    <div class="login-image"></div>
  </div>
</div>
