.login-body {
  background-color: white;
  color: #495057;

}

.p-field-check {
  display: flex;
  display: block;
  height: 13vh;
  text-align: center;
  display: -ms-flexbox;
}

input {
  padding:5px 15px;
  background:rgb(177, 224, 233);
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  display: block;
}

.login-body .login-wrapper {
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.login-body .login-wrapper .login-panel {
  width: 30%;
  height: 100%;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  .login-avatar {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    background-image: url("../../../assets/image/me.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
  }

  .login-form {
  }

  .login-btn {
    color: #ffffff;
    background: #2196f3;
    border: 1px solid #2196f3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
}

.login-body .login-wrapper .login-image {
  width: 70%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;

 background-image: url("https://images.unsplash.com/photo-1614747295539-b63708f4a578?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
